.videoSection {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.Videos {
    margin: 5px;
}
.Videos embed {
    border-radius: 10px;
}
.Videos .bottomBar {
    height: 50px;
    width: 288px;
}